.DS_Store
node_modules
.tmp
npm-debug.log
**/.ipynb_checkpoints/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary files
**/*.pyc
**/*.pyo
**/*.pyd
**/__pycache__/
**/*.swp
**/*.bak
**/*.tmp
**/*.log